@import "tailwindcss";

@theme {
  --dark-mode: selector(.dark);
  --font-sans: var(--font-inter);
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-800 rounded-full;
  }
}

body {
  @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-100;
}